<img src="escuela_economia_una_logo.png" width="260" height="60">
<center>
    <b>Introducción a Python para Ciencias Económicas</b><br>
    <b>Profesor:  Alexander Amoretti</b><br>
    <b>Desarrollo:  Diego Armando Barquero Sánchez, Estudiante de Tercer Ciclo</b>
<br><br>   
<div style="font-size:180%;color:white; background-color: #008080;">Introducción Básica a Python</div>
<div style="font-size:100%;color:white; background-color: #008080;">Variables/Tipo de Datos/Conversiones/Impresión/Operadores</div>

<i>Creado:     2023-Jul-08 
    <br>
    Actualizado: ------ </i>

# *Variables en Python*

#### *Se declara una variable al lado izquierdo del igual, para despues al costado derecho establecer cual será el valor de dicha variable*

In [1]:
treinta = 30

Una vez declarada la variable y asignado el valor de dicha variable podemos "llamarla" a través de su nombre declarado y nos mostrará su valor.

In [2]:
treinta

30

#### *Dataso*
Normalmente, se puede asignar el mismo valor a distintas variables siempre y cuando tengan nombres distintos. En la práctica no recomiendo esto por que puede llegar a generar problemas.

In [8]:
cinco = lamitaddediez = cuatromásuno = 5

In [9]:
cinco

5

In [10]:
lamitaddediez

5

In [11]:
cuatromásuno

5

También puedes en una misma línea de código declarar tres variables con sus respectivos valores asignados y separados por una ","

In [12]:
a,b,c = 1,3.14,"Cartaguito Campeón"

In [13]:
a

1

In [14]:
b

3.14

In [15]:
c

'Cartaguito Campeón'

#### *Importante*
Python es un lenguaje que le interesa el orden, por ende si se declara una variable dos veces con diferentes valores pero mismo nombre, la última ocación en la cual se declaró la variable será el valor que aparecerá al llamarla

In [17]:
variable1 = 25
#Primera vez
variable2 = "Antonio"
#Segunda vez
variable2 = variable1

In [18]:
variable2

25


## Tipo de Datos

Como economistas que deseamos emplear la programación como herramienta para realizar mejor nuestras tareas, estaremos tratando con distintos tipos de datos al realizar distintos análisis. Los tipos de datos que existen en Python son:
- 1. Numbers
- 2. Strings
- 3. Boolean
- 4. Lists
- 5. Tuples
- 6. Dictionaries 
- 7. Sets


#### *Números en Python*
Tipo de datos numéricos:<br>
a. int (Números enteros, puede ser positivo o negativo)<br>
b. float (Números racionales, decimales y fracciones no perfectas)<br>
c. complex (Números complejos, en el sector de los Irreales en matemáticas)

#### int
'int' viene de integer que es entero, y de ahora en adelante emplearemos la función "type()" para saber que tipo de dato es.

In [19]:
a = -5
type(a)

int

In [21]:
x = 1000
type(x)

int

#### float

"float" son aquellos números que no son enteros, dentro de ellos son los decimales y fracciones no perfectas

In [31]:
a = 5.555555555555555
type(a)

float

In [25]:
x = -3/4
type(x)

float

#### complex

Son los números que normalmente en la cálculadora cuando te equivocas salen "5i", pero acá en vez de emplear la i python usa la letra j para denotar a los números complejos

In [30]:
x = 3+4j
type(x)

complex


### *Palabras en Python*

Una "string" es una palabra, y se tiene que designar dentro de comillas para que no te de error.

In [32]:
string = "Introducción a Python"
string

'Introducción a Python'

### Dicotomías Python 
En Python se establecen como "True" que se interpreta como 1, y "False" que se interpreta como 0

In [34]:
Economía_mejor_carrera = True
type(Economía_mejor_carrera)

bool

También es la respuesta cuando se imprimen condiciones "racionales" ya sean verdaderas o falsas.

In [35]:
print(10 > 9)

True

In [36]:
print(10 == 9)

False

In [37]:
print(10 < 9)

False

<a id="typecon"> </a>
## *Conversión de tipos de datos en Python*
Se puede forzar un tipo de dato y convertirlo al que gustes, con condiciones especiales. Evidentemente solo funciona con números no con strings

#### float()
Vuelve a un int por ejemplo en un float.

In [38]:
float(11)

11.0

Vuelve a un bool a un float.

In [39]:
float (True)

1.0

In [40]:
float(False)

0.0

#### int()

Misma lógica, la cuestión es que en computación se redondea hacia abajo, entonces un ejemplo muy triste es que el profesor si te sube a 70 la nota, si sacas 69.76, Python no. Solo funciona con números.

In [44]:
int(69.76)

69

Vuelve a un bool a un int.

In [45]:
int(True)

1

In [46]:
int(False)

0

#### str()
str() convierte cualquier valor en una string.

In [48]:
str(2.24)

'2.24'

In [49]:
str(True)

'True'

In [50]:
str(False)

'False'

In [51]:
str(10)

'10'


## *Impresión en Python*

Básicamente te permite imprimir valores, palabras o variables.

In [54]:
print("Hola Mundo")

Hola Mundo

A través de una "," podemos separar tipos de datos e imprimirlos en una misma línea de código

In [56]:
Champions_del_Madrid = 14

In [57]:
print("El Real Madrid tiene ", Champions_del_Madrid, " Champions")
#           String              variable = integer       String

El Real Madrid tiene  14  Champions


## *Operadores en Python*


#### *Operadores aritmeticos*
Operadores aritmeticos:  Suma, Resta, Multiplicación y División

In [58]:
a = 12
b = 2
# '+' Operador
print('a + b =',a+b)                  # Imprime la suma de a + b 

# '-' Operador
print('a - b =',a-b)                  # Imprime la resta de a-b

# '*' Operador
print('a * b =',a*b)                  # Imprime la multiplicación de a*b

# '%' Operador
print('a % b =',a%b)                  # Imprime la división entre a % b 

# '/' Operador
print('a / b =',a/b)                  # Imprime la división entre a / b 

# '//' Operador
print('a // b =',a//b)                # Imprime la división entre a / b , como tipo de dato int 

# '**' Operador
print('a ** b =',a**b)                # Imprime el resultado de elevar "a" a la "b"

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### *Operador de Comparación*
Nos permite hacer comparaciones entre valores, variables numericas y nos da como resultado un bool ( True o False )

In [61]:
a = 10
b = 20

# '>' Operador
print('a > b  is',a>b)                 # a mayor que b ? 

# '<' Operador
print('a < b  is',a<b)                 # b mayor que a ? 

# '==' Operador
print('a == b  is',a==b)                 # a es igual a b ?

# '!=' Operador
print('a != b  is',a!=b)                 # a NO es igual a b ?

# '>=' Operador
print('a >= b  is',a>=b)                 # a es mayor o igual a b ? 

# '<= y' Operador
print('a <= b  is',a<=b)                 # b es mayor o igual a a ?

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True